.cart {
  background: rgba(255, 153, 0, 0.3);
  padding: 25px;
  position: sticky;
  top: 0;
}
.cart h2 {
  /* padding: 28px 43px 50px 45px; */
}
.cart-info {
  /* padding-left: px; */
}
.cart-info h6 {
  font-weight: 400;
  font-size: 21px;
}
